.container-fluid {
  padding-top: 70px;
  padding-bottom: 20px;
  text-align: center;
}

.img-circle {
  border-radius: 80px;
  width: 300px;
  height: 300px;
}

body {
  background-image: url("Images/retro.jpg")
}


.btn-circle.btn-xl {
  width: 90px;
  height: 90px;
  padding: 10px 16px;
  border-radius: 65px;
  font-size: 12px;
  text-align: center;
}
.containerContact{
  align: center;
}

.contactBar{
  padding-top: 3em;
  padding-left: 3em;
}

.contactBar img{
  width: 90px;
  height: 90px;
}
