.align-items-center{
  -ms-flex-align:center;
  align-items:center;
}

.d-flex{
  display: -ms-flexbox;
  display: flex;
}

.pictureButtons img {
  border-radius: 80%;
  width: 300px;
  height: 300px;

}

.pictureButtons {
  padding: 3em;
  padding-top: 0em;
}

.btn-circle.btn-xl {
  width: 90px;
  height: 90px;
  padding: 10px 16px;
  border-radius: 65px;
  font-size: 12px;
  text-align: center;

}

.contactBar{
  padding-top: 3em;
}
.contactBar img{
  width: 90px;
  height: 90px;
}
