#landingPage .align-items-center{
  -ms-flex-align:center;
  align-items:center;
}

#landingPage .jumbotron {
  background: #ffdd99;
}

#landingPage .d-flex{
  display: -ms-flexbox;
  display: flex;
}

#landingPage .pictureButtons img {
  border-radius: 80%;
  width: 300px;
  height: 300px;
}

#landingPage .pictureButtons {
  padding: 3em;
  padding-top: 0em;
}

#landingPage .btn-circle.btn-xl {
  width: 90px;
  height: 90px;
  padding: 10px 16px;
  border-radius: 65px;
  font-size: 12px;
  text-align: center;
}

#landingPage .contactBar{
  padding-top: 3em;
}

#landingPage .contactBar img{
  width: 90px;
  height: 90px;
}

#landingPage body {
  align: center;
}

#landingPage h2{
  text-align: left;
  margin-left: 180px;
}
