body{
     color: rgb (70,70,70)

}
div{
min-height: 30vh;
Width: 200vw;
}
h1 {background:red;
font-family:calibri;
margin: 0.2px
font-size: 300em;
text-align: center;
min-height:10vh;
Width:200vh;
}
img{
display:flex;
padding:20px;
margin:30auto;
border-radious: 40px;
}

div {border: dashed medium red;
background:lightyellow;
 }
p{
width: 30%;
height: 10%;
min-height: 5vh;
margin: 2vh 2vw;
font-size: 1.5em;
border-bottom-right-radius: 20px;
background-color: green;
}
a{
color: rgb(10,10,10);
}
li#lower {
margin-top: 10%;
}
li#lowest {
margin-bottom: 10%;
}
div.contrst {
background-color: rgb(0,0,0);
font-size: 1.5em;
color: rgb(255,255,255);
justify-content: center;
alogn-items: center;
flex-direction: column;
}
ul{
list-sytyle:none;
display:flex;
font-size: 1.7em;
}
li{
margin:0 20px
transition: 1s ease;
}
li:hover{
font-size:1.2em;
transition: 0.6s ease;
height: 10%;
}
ol{
  height:10%;
  font-size: 2em;
}
